@import url();

body{
    background-color: #FBEFDB;
}
nav{
    background-color: #1F5B25;
    padding: 15px;
    position: fixed;
}
nav a{
    color: white;
    margin: 15px;
}
nav a.hover{
    color: white;
    text-decoration: none;
}
nav a:first-child{
    font-size: 1,5em;
}

<<<<<<< HEAD
.blog-img{
    border-radius: 4px;
    border: 1px solid #1F5B25;
}

p.szerzo{
    text-align: right;
}

.box{
    border: 1px solid #1F5B25;
}

.box h2{
    font-size: 1.5rem;
    background-color: #1F5B25;
    color: #fff;
    padding: .5rem;
}

.box span.badge{
    margin: .25rem;
=======
.banner{
    background-image: url();
    background-position: center center;
    background-size: cover;
    height: 400px;
}

#napiajanlat{
    width: 40px;
    position: absolute;
>>>>>>> d693276dcb53ade492acf3a4ade9fad36e2fa7f6
}